<h1>
    <%= title %>
</h1>
 
    <%- messages() %>

     <form id="login_form">
        <label for="account_email">Email: </label>
        <input id="account_email" type="text">
        <label for="account_password">Password: </label>
        <input id="account_password" type="text">
        <button type="button">LOGIN</button>
        <p id="signup">No Account? <a href="/account/registration">Sign-up Now!</a></p>
     </form> 