<header id="top-header">
  <span class="siteName">
    <img src="/images/site/icon.png" alt="icon for the home page">
    <a href="/" title="Return to home page">CSE Motors</a>

  </span>
  <div id="tools">
    <% if(!locals.loggedin){ %>
      <a title="Click to log in" href="/account/">My Account</a>
      <% }else{ const name=locals.accountData.account_firstname %>
       <a id="welcome" title="Click to access account" href="/account/">Welcome <%- name %>: </a>
        <form id="logoutForm" method="post" action="../account/logout">
          <button id="logout" type="submit" method="post">Logout</button>
        </form>
        <% } %>
  </div>
</header>
